
@{
    ViewBag.Title = "Index";
}

@if(ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin.</h1>
    <h3>
        <li>@Html.ActionLink("View Customers", "Index", "Customers")</li>
        <li>@Html.ActionLink("View Employees", "Index", "Employees")</li>
    </h3>
}
else if(ViewBag.displayMenu == "Customer")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <h3>
        <li>@Html.ActionLink("My Account", "PrivateDetails", "Customers", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("Schedule Next Pickup", "SchedulePickUp", "Customers", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("Billing", "ViewBalance", "Customers", new { id = ViewBag.Id }, null)</li>
    </h3>
}
else if (ViewBag.displayMenu == "Employee")
{
    <h2>Welcome <strong>@ViewBag.Name</strong>!</h2>
    <h3>
        <li>@Html.ActionLink("My Account", "PrivateDetails", "Employees", new { id = ViewBag.Id }, null)</li>
        <li>@Html.ActionLink("Today's Pickups", "DisplayDailyStops", "Employees", new { zipCode = ViewBag.ZipCode }, null)</li>
    </h3>
} 

